---
layout: 10-home
revslider-css: "revslider-index2.css"
style-css: "style-bancamiga2.css"
permalink: /unicef/
---


{%
    include index-bancamiga/g-static-img.html
    image=site.data.unicef.image
    data-title=site.data.unicef.data-title
    data-image=site.data.unicef.data-image
    data-x-title=site.data.unicef.data-x-title
    data-y-title=site.data.unicef.data-y-title
    title=site.data.unicef.title
    data-x-subtitle=site.data.unicef.data-x-subtitle
    data-y-subtitle=site.data.unicef.data-y-subtitle
    subtitle=site.data.unicef.subtitle
    next=site.data.unicef.next
%}
  <div class="mb40"></div><!-- space -->
  {% include index-bancamiga/i01-container-about.html
    title-interna=site.data.unicef.text-title
    description-interna=site.data.unicef.text-about
    list-images=site.data.unicef.image-about
    %}

  <div class="mb10"></div><!-- space -->
  {% include index-bancamiga/g-menu-links.html %}
  <div class="mb10"></div><!-- space -->
