<div class="modal fade" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="false">
    <div class="modal-dialog modal-sm" style="width: 46em;">
        <div class="modal-content">
            <div class="modal-header">
              <img class="img-responsive margin-auto" src="{{ site.data.g-header.logo_modal  | prepend: site.baseurl | prepend: site.url }}">
            </div><!-- End .modal-header -->
            <div class="modal-body text-center">
            <p>{{ include.text }}</p>
            </div><!-- End .modal-body -->
            <div class="modal-footer">
              <div class="text-center">
                <button style="margin-right: 10px;" type="button" class="btn btn-custom" data-dismiss="modal">{{ include.button-text }}</button>
                  <button class="btn buttonRegister" id="oculta" data-dismiss="modal">{{ include.button2-text-modal }}</button>
              </div>
            </div><!-- End .modal-footer -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
  </div><!-- End .modal -->
<script type="text/javascript">
$('#modal-text').on('hidden.bs.modal', function (e) {
  window.open("https://www.credicardenlinea.com.ve/web/bancamiga", "_blank");
})
</script>
